ipykernel==6.29.3
jupyter_client==8.6.0
jupyter_core==5.7.1
matplotlib==3.7.3
matplotlib-inline==0.1.6
numpy==1.24.4
pandas==2.0.1
seaborn==0.13.2
torch==1.8.1
torchaudio==0.8.1
torchmetrics==0.9.0
torchvision==0.9.1
tqdm==4.59.0
sphinx_rtd_theme==2.0.0
